html {
  --bg-dark-primary: #19473f;
  --bg-lite-primary: #206b5e;
  --bg-dark-gray: #2a3231;
  --bg-lite-gray: #374b49;
  --primary-dark: #325f57;
  --primary-darker: #22413b;
  --primary-lite: #468c80;
  --accent-dark: #fcd270;
  --accent-darker: #f4c24d;
  --accent-dark-rbg: 252, 210, 112;
  --accent-lite: #ffe5a4;
  --danger: #a95940;
  --danger-lite: #b36851;
  --danger-bright: #fc9575;
  --danger-rgb: 169, 89, 64;
  --white: #ffffff;
  --white-rgb: 255, 255, 255;
  --black: #000000;
  --black-rgb: 0, 0, 0;

  --text-tertiary: #8b94ac;
  --text-primary: #1e2c50;

  --core-accent: #01685c;

  --dot-bg: #ececec;
  --dot-color: #e4e4e4;
  --dot-size: 3px;
  --dot-space: 22px;
  --dot-pattern-bg: linear-gradient(90deg,
      var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
      transparent 1%) center / var(--dot-space) var(--dot-space),
    linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
      transparent 1%) center / var(--dot-space) var(--dot-space),
    var(--dot-color);

  --new-danger: #ff5555;
  --secondary-input-bg: #ebf1f6;

  background: var(--dot-pattern-bg);
  color: var(--white);
  font:
    16px PlexSans,
    system-ui,
    sans-serif;
  line-height: 1.5;
}

body {

  overflow: auto;
  height: 100%;

  @media (max-width: 440px) {
    background: #00785e;
  }

  overflow-y: scroll;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

a,
a:visited {
  color: var(--core-accent, #07f);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Barlow */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 200;
  src: url(/fonts/Barlow-ExtraLight.ttf) format("truetype") url(/fonts/Barlow-ExtraLight.woff) format("woff");
}

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/Barlow-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Barlow";
  font-style: italic;
  font-weight: 300;
  src: url(/fonts/Barlow-LightItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Barlow-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/Barlow-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/Barlow-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Barlow-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 800;
  src: url(/fonts/Barlow-ExtraBold.ttf) format("truetype");
}

/* IBM Plex Sans */
@font-face {
  font-family: "PlexSans";
  font-style: normal;
  font-weight: 200;
  src: url(/fonts/IBMPlexSans-ExtraLight.ttf) format("truetype") url(/fonts/IBMPlexSans-ExtraLight.woff) format("woff");
}

@font-face {
  font-family: "PlexSans";
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/IBMPlexSans-Light.ttf) format("truetype") url(/fonts/IBMPlexSans-Light.woff) format("woff");
}

@font-face {
  font-family: "PlexSans";
  font-style: italic;
  font-weight: 300;
  src: url(/fonts/IBMPlexSans-LightItalic.ttf) format("truetype") url(/fonts/IBMPlexSans-LightItalic.woff) format("woff");
}

@font-face {
  font-family: "PlexSans";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/IBMPlexSans-Regular.ttf) format("truetype") url(/fonts/IBMPlexSans-Regular.woff) format("woff");
}

@font-face {
  font-family: "PlexSans";
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/IBMPlexSans-Medium.ttf) format("truetype") url(/fonts/IBMPlexSans-Medium.woff) format("woff");
}

@font-face {
  font-family: "PlexSans";
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/IBMPlexSans-SemiBold.ttf) format("truetype") url(/fonts/IBMPlexSans-SemiBold.woff) format("woff");
}

@font-face {
  font-family: "SuperFunky";
  src: url(/fonts/SuperFunky.ttf) format("truetype");
}

@font-face {
  font-family: "PressStart2P";
  src: url(/fonts/PressStart2P.ttf) format("truetype");
}

/* Rubik */

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/Rubik-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 300;
  src: url(/fonts/Rubik-SemiBoldItaic.ttf) format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 300;
  src: url(/fonts/Rubik-Itaic.ttf) format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 300;
  src: url(/fonts/Rubik-LightItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Rubik-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 500;
  src: url(/fonts/Rubik-MediumItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/Rubik-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/Rubik-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/Rubik-BoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Rubik-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 800;
  src: url(/fonts/Rubik-ExtraBoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url(/fonts/Rubik-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 800;
  src: url(/fonts/Rubik-BlackItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url(/fonts/Rubik-Black.ttf) format("truetype");
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

form {
  margin: 0;
  padding: 0;
}

img {
  -webkit-touch-callout: none;
  user-select: none;
  user-drag: none;
  pointer-events: none;
}

/*
 * Source: https://loading.io/css/
 * Usage:
 * <div className="loaderWrapper">
 *  <div className="loader">
 *     <div></div>
 *     <div></div>
 *  </div>
 * <div/>
 */

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loader>div {
  position: absolute;
  border: 4px solid var(--accent-dark);
  opacity: 1;
  border-radius: 50%;
  animation: ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loader>div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
