html {
  --bg-dark-primary: #19473f;
  --bg-lite-primary: #206b5e;
  --bg-dark-gray: #2a3231;
  --bg-lite-gray: #374b49;
  --primary-dark: #325f57;
  --primary-lite: #468c80;
  --accent-dark: #fcd270;
  --accent-darker: #f4c24d;
  --accent-dark-rbg: 252, 210, 112;
  --accent-lite: #ffe5a4;
  --danger: #a95940;
  --danger-lite: #b36851;
  --danger-bright: #fc9575;
  --danger-rgb: 169, 89, 64;
  --white: #ffffff;
  --white-rgb: 255, 255, 255;
  --black: #000000;
  --black-rgb: 0, 0, 0;

  background: var(--bg-dark-primary);
  color: var(--white);
  font:
    16px PlexSans,
    system-ui,
    sans-serif;
  line-height: 1.5;
}

a,
a:visited {
  color: var(--accent-dark);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* IBM Plex Sans */
@font-face {
  font-family: "PlexSans";
  font-style: normal;
  font-weight: 200;
  src: url(/fonts/IBMPlexSans-ExtraLight.ttf) format("truetype")
    url(/fonts/IBMPlexSans-ExtraLight.woff) format("woff");
}
@font-face {
  font-family: "PlexSans";
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/IBMPlexSans-Light.ttf) format("truetype")
    url(/fonts/IBMPlexSans-Light.woff) format("woff");
}
@font-face {
  font-family: "PlexSans";
  font-style: italic;
  font-weight: 300;
  src: url(/fonts/IBMPlexSans-LightItalic.ttf) format("truetype")
    url(/fonts/IBMPlexSans-LightItalic.woff) format("woff");
}
@font-face {
  font-family: "PlexSans";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/IBMPlexSans-Regular.ttf) format("truetype")
    url(/fonts/IBMPlexSans-Regular.woff) format("woff");
}
@font-face {
  font-family: "PlexSans";
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/IBMPlexSans-Medium.ttf) format("truetype")
    url(/fonts/IBMPlexSans-Medium.woff) format("woff");
}
@font-face {
  font-family: "PlexSans";
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/IBMPlexSans-SemiBold.ttf) format("truetype")
    url(/fonts/IBMPlexSans-SemiBold.woff) format("woff");
}
@font-face {
  font-family: "SuperFunky";
  src: url(/fonts/SuperFunky.ttf) format("truetype");
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

form {
  margin: 0;
  padding: 0;
}

img {
  -webkit-touch-callout: none;
  user-select: none;
  user-drag: none;
}

/*
 * Source: https://loading.io/css/
 * Usage:
 * <div className="loaderWrapper">
 *  <div className="loader">
 *     <div></div>
 *     <div></div>
 *  </div>
 * <div/>
 */

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader > div {
  position: absolute;
  border: 4px solid var(--accent-dark);
  opacity: 1;
  border-radius: 50%;
  animation: ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loader > div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
