<!doctype html>
<html>
  <head>
    <title>Zupass</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="stylesheet" href="/global-zupass.css" />
    <link
      rel="preload"
      href="/fonts/IBMPlexSans-Regular.woff"
      as="font"
      type="font/woff"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/IBMPlexSans-Light.woff"
      as="font"
      type="font/woff"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/IBMPlexSans-ExtraLight.woff"
      as="font"
      type="font/woff"
      crossorigin="anonymous"
    />
    <script defer src="/js/index.js"></script>
    {{!-- Lazily load zxcvbn.js since it contains 700KB+ of data --}}
    <script async type="text/javascript" src="zxcvbn.js"></script>
  </head>
  <body>
    <div id="root">
      {{!-- Match LoadInterstitialScreen.tsx --}}
      <div style="height: 64px"></div>
      {{!-- This shows the RippleLoader in the background so we don't get a
      blank green screen --}}
      <div class="loaderWrapper">
        <div class="loader">
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    <script
      async
      defer
      src="https://scripts.simpleanalyticscdn.com/latest.js"
    ></script>
    <noscript
      ><img
        src="https://queue.simpleanalyticscdn.com/noscript.gif"
        alt=""
        referrerpolicy="no-referrer-when-downgrade"
    /></noscript>
  </body>
</html>
