CONSUMER_SERVER_URL=

ZUPASS_CLIENT_URL_CONSUMER=
ZUPASS_SERVER_URL_CONSUMER=

# Specifies how to download artifacts for GPC proofs.  See the function
# parseGPCArtifactsConfig in @pcd/client-shared for info on the format.
GPC_ARTIFACTS_CONFIG_OVERRIDE=
# GPC_ARTIFACTS_CONFIG_OVERRIDE={"source": "zupass", "stability": "test", "version": ""}
# GPC_ARTIFACTS_CONFIG_OVERRIDE={"source": "github", "stability": "test", "version": "8071d52a0d481c72d4d4045be48e770716b2e919"}
