NODE_ENV="development"

NEXT_PUBLIC_EDGE_CITY_PIPELINE_URL="http://localhost:3002/generic-issuance/api/semaphore/ce64b1b6-06b3-4534-9052-747750daeb64"
NEXT_PUBLIC_EDGE_CITY_RESIDENTS_GROUP_ID="68ad1cdd-eb7d-44a6-8fe8-de5d1026e44c"
NEXT_PUBLIC_EDGE_CITY_ORGANIZERS_GROUP_ID="898acf2e-2252-443e-a6db-bd4c520b664c"

NEXT_PUBLIC_ETH_LATAM_PIPELINE_URL="http://localhost:3002/generic-issuance/api/semaphore/3d6d4c8e-4228-423e-9b0a-33709aa1b468"
NEXT_PUBLIC_ETH_LATAM_ATTENDEES_GROUP_ID="157d07ad-3e69-4287-8128-f577485b5f26"
NEXT_PUBLIC_ETH_LATAM_ORGANIZERS_GROUP_ID="217d77d7-0e89-4c39-9d0d-819a575f3f90"

NEXT_PUBLIC_ZUPASS_URL="http://localhost:3000"
NEXT_PUBLIC_ZUPASS_SERVER_URL="http://localhost:3002"
NEXT_PUBLIC_ZUPOLL_SERVER_URL="http://localhost:3011/"

NEXT_PUBLIC_DEBUG_TOOLS_ENABLED="true"
